<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.5.3/css/fileinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">    
</head>
<body>
  <div class="container py-5">
    <div class="row justify-content-center">
      <!-- <div class="col-12 col-md-10 col-lg-6"> -->
      <div class="col-12">
        <h1 class="text-center">게시글 조회</h1>
        <form action="/board/create" method="post" enctype="multipart/form-data" th:object="${board}">
            <div class="mb-3">
              <label for="title" class="form-label">제목</label>
              <input type="text" class="form-control" th:field="*{title}" aria-describedby="helpTitle" placeholder=""/>
              <small id="helpTitle" class="form-text text-muted">제목 입력</small>
            </div>
            <div class="mb-3">
              <label for="writer" class="form-label">작성자</label>
              <input type="text" class="form-control" th:field="*{writer}" aria-describedby="helpWriter" placeholder=""/>
              <small id="helpWriter" class="form-text text-muted">작성자 입력</small>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">내용</label>
              <textarea class="form-control" th:field="*{content}" rows="3" aria-describedby="helpContent"></textarea>
              <small id="helpContent" class="form-text text-muted">내용 입력</small>
            </div>
            <div class="mb-3">
              <label class="form-label">첨부파일</label>
              <input id="file" type="file" name="files" class="file" multiple>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" class="btn btn-outline-primary w-100" onclick="moveList()">목록</button>
              <button type="button" class="btn btn-primary w-100" onclick="moveUpdate()">수정</button>
            </div>
          </form>
      </div>
    </div>
  </div>  


  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.5.3/js/fileinput.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.5.3/themes/fas/theme.min.js"></script>
  <script src="/js/locales/kr.js"></script>


  <script>

      // 👩‍💻 모델 객체를 자바스크립트로 가져오는 방법
      let no = "[[${board.no}]]"

      // 수정 화면 이동
      function moveUpdate() {
          location.href = '/board/update?no=' + no
      }

      // 목록 화면 이동
      function moveList() {
          location.href = '/board/list'
      }
  </script>

  <script th:inline="javascript">

      let fileList = [[${board.fileList}]]

      let initialPreview = [];
      let initialPreviewConfig = [];

      fileList.forEach(function(file) {
          // 파일의 URL 생성
          let fileUrl = '/files/' + file.id;

          // initialPreview 배열에 파일 URL 추가
          initialPreview.push(fileUrl);

          // initialPreviewConfig 배열에 파일 설정 추가
          initialPreviewConfig.push({
              caption: file.name,
              size: file.size,
              width: "120px",
              url: '/file/delete/' + file.id, // 삭제 요청 URL
              key: file.id
          });
      });

      console.log(initialPreview);
      console.log(initialPreviewConfig);

      $("#file").fileinput({
          language: "kr",                               // 언어 설정          
          initialPreview: initialPreview,               // 미리보기할 파일의 URL 배열
          initialPreviewAsData: true,                   // ★ URL을 이미지/파일로 인식
          initialPreviewConfig: initialPreviewConfig,   // 미리보기 설정
          initialPreviewShowDelete: false,              // 파일별 삭제버튼 숨김
          showUpload: false,                            // 업로드 버튼 숨김
          showRemove: false,                            // 전체 삭제버튼 숨김
          showBrowse: false,                            // 파일 찾아보기 버튼 숨김
          showCaption: false,                           // 파일 캡션 숨김
          showClose: false,                              // 미리보기 닫기 버튼 숨김
      });

  </script>
</body>
</html>